{% extends 'core/base.html' %}

    {% block title %}Acerca de - SkyAI Learning{% endblock %}

    {% block content %}
        <h2>Acerca de SkyAI Learning</h2>
        <p>SkyAI Learning es una plataforma dedicada a la enseñanza de Inteligencia Artificial y programación.</p>
        <p>Nuestro objetivo es proporcionar recursos educativos de alta calidad para ayudar a los estudiantes a aprender y crecer en el campo de la IA.</p>
        <p>Ofrecemos cursos, tutoriales y artículos sobre diversos temas relacionados con la IA, desde fundamentos hasta aplicaciones avanzadas.</p>
        <p>¡Únete a nosotros y comienza tu viaje en el mundo de la Inteligencia Artificial!</p>
    {% endblock %}
