{% extends 'base.html' %}

{% block title %}Todos los Posts{% endblock %}

{% block content %}
    <h2>Todos los Posts</h2>
    {% for post in posts %}
        <div class="post">
            <h3 class="post-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
            <p class="post-meta">Publicado el {{ post.created_date|date:"d M Y" }} por {{ post.author.username }}</p>
            <p class="post-content">{{ post.content|truncatechars:200 }}</p>
        </div>
        <hr>
    {% empty %}
        <p>No hay posts disponibles.</p>
    {% endfor %}
{% endblock %}